apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata: 
  name: mongodb-helm-chart
  namespace: flux-system
spec: 
  interval: 1m0s
  path: "./clusters/devops-cluster/fluxcd/ressources/patches/helm-charts/mongodb"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  